

<section id="non-printable" style="height: 35px;
margin-bottom: 0px;
margin-top: -12px;">


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#/home">Home</a></li>
    <li class="breadcrumb-item"><a href="#/home">View invoices (taxed)</a></li>
    
  </ol>
</nav>


</section>

<section *ngIf="view == 1" style="height: 99%;
width: auto;
scroll-behavior: smooth;
overflow-y: scroll;">

<ngx-table [configuration]="configuration"
[data]="data"
[columns]="columns"  (event)="eventEmitted($event)">
</ngx-table>

</section>