




    <div class="row">
        <div class="col-12 col-sm-8 col-lg-5">
         
          <ul class="list-group">
  
            <a href="/#/home/view-invoice" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              <div class="flex-column" style="font-family: monospace;
              font-size: larger;font-weight: bold;">
                 Invoice list
                <!-- <p><small><img src="../../../../assets/images/invoice_logo.png" style="width: 20px;height: 22px;"> </small></p>
                <span class="badge badge-info badge-pill"> count </span> -->
              </div>
              <div class="image-parent">
                <img src="../../../../assets/images/invo_logo.png" class="img-fluid" alt="quixote" style="height: 48px;">
              </div>
            </a>
  
            <a href="/#/home/view-purchase" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              <div class="flex-column" style="font-family: monospace;
              font-size: larger;font-weight: bold;">
               Purchase list
                <!-- <p><small>by ..</small></p>
                <span class="badge badge-primary badge-pill"> count </span> -->
              </div>
              <div class="image-parent">
                <img src="../../../../assets/images/purchase.png" class="img-fluid" alt="quixote" style="height: 48px;">
              </div>
            </a>



            <a href="/#/home/view-perfoma" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">  
              <div class="flex-column" style="font-family: monospace;
              font-size: larger;font-weight: bold;">
                Perfoma Invoice list
                <!-- <p><small><img src="../../../../assets/icons/performa.png" style="width: 20px;height: 22px;"> </small></p>
                <span class="badge badge-danger badge-pill"> count </span> -->
              </div>
              <div class="image-parent">
                <img src="../../../../assets/images/perfoma.png" class="img-fluid" alt="quixote" style="height: 48px;">
              </div>
            </a>
          </ul>
        </div>
  
        <div class="col-12 col-sm-8 col-lg-5">
          
          <ul class="list-group">
            <a href="/#/" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              <div class="flex-column" style="font-family: monospace;
              font-size: larger;font-weight: bold;">
              Credit Note (Sales Return list)
                <!-- <p><small>...</small></p>
                <span class="badge badge-info badge-pill"> count </span> -->
              </div>
              <div class="image-parent">
                <img src="../../../../assets/images/credit_note.png" class="img-fluid" alt="quixote" style="height: 48px;">
              </div>
            </a>
            <a href="/#/home/view-purchase-return" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              <div class="flex-column" style="font-family: monospace;
              font-size: larger;font-weight: bold;">
                Debit Note (Purchase Return list)
                <!-- <p><small>...</small></p>
                <span class="badge badge-primary badge-pill"> count  </span> -->
              </div>
              <div class="image-parent">
                <img src="../../../../assets/images/debit_note.png" class="img-fluid" alt="quixote" style="height: 48px;">
              </div>
            </a>
            <a href="/#/home/view-purchase" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center disabled">  
              <div class="flex-column" style="font-family: monospace;
              font-size: larger;font-weight: bold;">
                Coming soon
                <p><small>... </small></p>
                <span class="badge badge-danger badge-pill"> count </span>
              </div>
              <div class="image-parent">
                  <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/things_fall_apart.jpg" class="img-fluid" alt="things">
              </div>
            </a>
          </ul>
        </div>
  
  
        
      </div>
   