// .wrapper.default-theme .card .card-icon i {
//     color: #2a3e77 !important;
//   }
  
  
  .modal-dialog
  {
        padding: 10px;
        max-width: 1200px; 
        margin: auto;
     
  }
  
  .modal-header
  {
      padding : 1px 1px !important;
  }
  .modal-body
  {
    overflow: scroll;
  max-height: 600px;    
  
   }