





<section class="80mm_" id="printy" style="width:100%;margin-left: -22px;margin-top:-70px;
font-family: Verdana, Geneva, Tahoma, sans-serif;background-color: red; "> 


  <label style="text-align: center; font-size: 24px; font-weight: bold; font-family: Calibri;line-height: 20px;">
    {{this.api.Company_dets.company_name}}
  </label> <br>

   <label style="text-align: center; font-size: 20px; font-weight: bold; font-family: Calibri;line-height: 6px;">
    {{this.api.Company_dets.company_address_1}}
  </label>  <br>
     <label style="text-align: center; font-size: 20px; font-weight: bold; font-family: Calibri;line-height: 10px;">
       {{this.api.Company_dets.company_address_2}}
  </label> <br>

    <label style="text-align: center; font-size: 18px; font-weight: bold;
     font-family: Calibri;line-height: 8px;">
   {{  this.api.Company_dets.company_ph_1}} , {{this.api.Company_dets.company_ph_2}}
  </label> <br>
 
   <label style="text-align: center; font-size: 18px; font-weight: bold; font-family: Calibri;">
   GSTIN :   {{this.api.Company_dets.company_gstin}} 

    </label> <br>

     <label style="text-align: center; font-size: 18px; font-weight: bold; font-family: Calibri;">
     
      FSSAI No : 11321003000457
   
       </label> <br>

     <!-- <label  style="width:50%;height:14px;display:inline-block;font-size: 14px;font-weight: bold;line-height: 8px;"> 
       Date  :  {{ss.i_m.heads[0].BILL_DATE | date:'dd-MM-yyyy hh:mm:ss a':'+0530'}} </label> -->

            <label  style="width:50%;height:14px;display:inline-block;font-size: 14px;font-weight: bold;line-height: 8px;"> 
              Date  :  {{  this.api.invo_head.invoice_date  | date:'dd-MM-yyyy hh:mm:ss a':'+0530' }}  </label>

            

          

            <label  style="height:16px;display:inline-block;width: 50%;font-size: 14px;font-weight: bold;line-height: 8px; "> 
              Invoice No :  {{this.api.Company_dets.hb7_fy_strings[0].fy_string}}
              <span *ngIf="this.api.invo_head.type == 'B2B' ">/B/</span>
              <span *ngIf="this.api.invo_head.type == 'B2C' ">/C/ </span>
  {{this.api.invo_head.invoice_no_genrated}}  </label>



  





  <label  style="width:49%;height:14px;display:inline-block;font-size: 14px;font-weight: bold;line-height: 8px;"> 
     Name  :   {{ this.api.invo_head.customer_Name }} </label>

            <label  style="width:50%;height:14px;display:inline-block;font-size: 14px;font-weight: bold;line-height: 8px;">
                Counter  :   1 </label>

 


   <table>
                <thead>
                    <tr class="qwe" style="border-bottom: 1px dotted black;">
                         <th class="price" style="width: 2%;">#</th> 
                        <th style="font-size: 12px;width: 40%;font-weight: bold;">Description</th>
                         <!-- <th class="price" style="font-size: 12px;width: 4%;">Tax</th>  -->
                         <th class="price" style="font-size: 14px;width: 4%;">Gst</th> 
                        <th class="price" style="font-size: 12px;width: 7%;">Qty</th>
                         <th class="price" style="font-size: 12px;width: 10%;">Mrp</th>
                        <th class="price" style="font-size: 12px;width: 10%;">Rate</th>
                        <th class="price" style="font-size: 12px;width: 10%;">Net Amt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of this.api.Invoice_items_ary; let k=index;">
                        <td> {{k+1}} </td>
                        <td  style="font-size: 16px;width: 44%;font-weight: bold;">{{item.product_name}}
                          <br>
                        <span style="font-size: smaller;
                        font-style: italic;"> HSN: {{item.hsn_code}} </span>
                        </td>
                        <td class="price" style="font-size: 14px;">{{item.tax}}</td> 
                         <td class="price"  style="font-size: 14px;width: 7%;">{{item.qty}}</td>
                        <td class="price"  style="font-size: 14px;width: 10%;">{{item.mrp}}</td>
                        <!-- <td class="price"  style="font-size: 14px;width: 10%;">{{item.value | number : '1.2-2'}}</td> -->
                        <td class="price"  style="font-size: 14px;width: 10%;">{{item.value * item.qty | number : '1.2-2'}}</td>
                    </tr>

                    <tr style="margin-top: 3px;height: 15px;border-top:1px solid; ">
                      <td style="font-weight: bold;"> &nbsp; &nbsp; Total </td>
                      <td >   </td>
                      <td> {{this.api.total_qty}} </td>
                      <td>   </td>
                      <td>   </td>
                      <td> {{ this.api.invo_head.total_taxable + this.api.invo_head.total_tax_amt  | number : '1.2-2'}}  </td>
                    </tr>
                    
                </tbody>
            </table>



            <div style="width: 32%;height: 2px;border-bottom: 1px dotted black;"> </div>
            <label style="text-align: center;float: top;
            height: 8px;font-weight: bold;line-height: 6px;"> Tax details (GST) </label>
                       
              <div style="width: 32%;height: 2px;border-bottom: 1px dotted black;"> </div>

            <table>
              <thead>
                   <tr> <th> % </th> <th> Value </th> <th> CGST </th> <th> SGST </th>    <th> <!--   K.F cess  --> </th> 
                    </tr>
               </thead>
               <tr *ngFor="let itemz of ds.Tax_info.item; let k=index;">
                 <td> {{itemz.TAX }} </td> 
                 <td> {{itemz.NET_VALUE | number : '1.2-2'}} </td> 
                <td> {{itemz.CGST | number : '1.2-2'}} </td>
                 <td> {{itemz.SGST | number : '1.2-2'}} </td>
                  <td>  <!--  {{itemz.KFC | number : '1.2-2'}} --> </td> 
               </tr>

               <tr style="border-top:1px dotted black;"> 

                  <td> Total  </td> <td> {{this.api.invo_head.total_taxable | number : '1.2-2'}}  </td> 
                  <td> {{this.api.invo_head.total_tax_amt  / 2 | number : '1.2-2'}}  </td>
                   <td> {{this.api.invo_head.total_tax_amt  / 2 | number : '1.2-2'}}  </td> 
                  <td> <!-- {{this.ss.i_m.tails[0].TOTAL_CESS | number : '1.2-2'}}  --> </td>

               </tr> 

             </table>

             <div style="width: 32%;height: 2px;border-bottom: 1px dotted black;"> </div>
             <label style="text-align: center;float: top;
             height: 8px;font-weight: bold;line-height: 6px;"> Summary </label>
                        
               <div style="width: 32%;height: 2px;border-bottom: 1px dotted black;"> </div>         





               <table>
            
                <tr style="border: none;"> <td> Mrp Total : </td> <td> {{ this.api.mrp_total  | number : '1.2-2'}} </td> </tr>
                   <!-- <tr>  <td> Net Total :   </td>
                     <td> {{this.api.invo_head.total_taxable | number : '1.2-2'}} </td> </tr> -->
                 <tr> <td> Total Tax  : </td> <td> {{this.api.invo_head.total_tax_amt | number : '1.2-2'}} </td> </tr>
                 <tr> <td> <!-- K.F Cess  : --> </td> <td> <!-- {{this.ss.i_m.tails[0].TOTAL_CESS   | number : '1.2-2'}} --> </td> </tr>
                 <tr> <td> Round -off  : </td> <td> {{ this.api.frac    | number : '1.2-2'}} </td> </tr>
                <tr style="border-top: 1px dotted; border-bottom: 1px dotted; font-size: 17px;font-weight: bold;height: 21px; "> 
                   <td>  Payable Amt : </td> <td> {{ this.api.invo_head.grand_amt | number : '1.2-2'}}  </td> </tr>

                   <tr style="border-top: 1px dotted; border-bottom: 1px dotted; font-size: 16px;font-weight: bold;height: 21px; "> 
                    <td> **You Saved  : </td> <td> Rs.{{this.api.mrp_total - this.api.invo_head.grand_amt | number : '1.2-2'}} /-  </td> </tr>
                    <tr style="border-top: 1px dotted; border-bottom: 1px dotted; font-size: 16px;font-weight: bold;height: 21px; "> 
                      <td> Cash Recieved : </td> <td> Rs.{{ this.api.invo_head.recieved_amt | number : '1.2-2' }}  /-  </td> </tr>
                      <tr style="border-top: 1px dotted; border-bottom: 1px dotted; font-size: 16px;font-weight: bold;height: 21px; "> 
                        <td> Balance Amt : </td> <td> Rs.{{ this.api.invo_head.balance_amt | number : '1.2-2' }} /-  </td> </tr>

                        <tr style="border-top: 1px solid; border-bottom: 1px solid; font-size: 16px;
                        font-weight: bold;height: 21px; "> 
                       
       
                         <td> &nbsp; &nbsp;&nbsp; --   Thank You  </td>
                           <td> &nbsp; &nbsp;&nbsp;  Visit Again  -- </td>   </tr>


                  </table>





</section>
